<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Class</title>
    <link href="../static/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/master.css" rel="stylesheet">
    <link href="../static/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <link href="../static/assets/vendor/airdatepicker/css/datepicker.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="../static/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="index.html"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                <li>
                    <a href="student.html"><i class="fas fa-user-friends"></i> Student</a>
                </li>
                <li>
                    <a href="POstudent.html"><i class="fas fa-chalkboard-teacher"></i> Class</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-clock"></i> PO Student</a>
                </li>
                <li>
                    <a href="giaoVien.html"><i class="fas fa-user-tie"></i> Class</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-circle"></i> Account</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <nav class="navbar navbar-expand-lg navbar-white bg-white">
                    <button type="button" id="sidebarCollapse" class="btn btn-light">
                        <i class="fas fa-bars"></i><span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <div class="nav-dropdown">
                                    <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user"></i> <span>John Doe</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                        <ul class="nav-list">
                                            <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                            <div class="dropdown-divider"></div>
                                            <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- end of navbar navigation -->
                <div class="content">
                    <div class="container">
                        <div class="page-title" style="margin-bottom: 20px;">
                            <h3>Class management</h3>
                        </div>
                        <!-- Form insert new student -->
                        <div id="insertForm" class="col-lg-12">
                            <div class="card">
                                <div class="card-header">Thêm lớp học mới</div>
                                <div class="card-body">
                                    <h5 class="card-title">Điền thông tin lớp học vào bên dưới:</h5>
                                    <form class="needs-validation" novalidate accept-charset="utf-8">
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Tên lớp</label>
                                                <input type="text" class="form-control" name="hoten" minlength="4" placeholder="Lớp mầm,chồi,..." required>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="city" class="form-label">Độ tuổi</label>
                                                <select name="doTuoi" id="doTuoi" class="form-control">
                                                    <option value="2">Từ 2 - 3 tuổi</option>
                                                    <option value="3">Từ 3 - 4 tuổi</option>
                                                    <option value="4">Từ 4 - 5 tuổi</option>
                                                    <option value="1">Dưới 2 tuổi</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Ngày khai giảng</label>
                                                <div class="mb-3">
                                                    <input type="text" id="insertDateForm1" data-format="YYYY-MM-DD" class="form-control datepicker-here" data-language="en" aria-describedby="datepicker" placeholder="Khai giảng">
                                                    <small class="form-text text-muted">You can change the month, year, and date</small>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Ngày kết thúc</label>
                                                <div class="mb-3">
                                                    <input type="text" id="insertDateForm2" data-format="YYYY-MM-DD" class="form-control datepicker-here" data-language="en" aria-describedby="datepicker" placeholder="Kết thúc">
                                                    <small class="form-text text-muted">You can change the month, year, and date</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Giáo viên 1</label>
                                                <input type="text" class="form-control" name="giaoVien1" minlength="4" placeholder="Nguyễn Thị Hà" required>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Giáo viên 2</label>
                                                <input type="text" class="form-control" name="giaoVien2" minlength="4" placeholder="Trần Thu Lệ" required>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-4">
                                                <label for="hocPhi" class="form-label">Học phí</label>
                                                <input type="number" class="form-control" name="hocPhi" placeholder="" required>
                                            </div>
                                            <div class="mb-3 col-md-2">
                                                <label for="totalStudent" class="form-label">Sỉ số</label>
                                                <input type="number" class="form-control" name="totalStudent" placeholder="" required>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="status" class="form-label">Trạng thái</label>
                                                <select name="status" id="status" class="form-control">
                                                    <option value="true">Hoạt động</option>
                                                    <option value="false">Ngừng hoạt động</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-undo"></i> Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Form update new Class -->
                        <div id="updateForm" class="col-lg-12">
                            <div class="card">
                                <div class="card-header">Cập nhật lớp học mới</div>
                                <div class="card-body">
                                    <h5 class="card-title">Cập nhật thông tin lớp học vào bên dưới:</h5>
                                    <form class="needs-validation" novalidate accept-charset="utf-8">
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Tên lớp</label>
                                                <input id="tenLopUpdate" type="text" class="form-control" name="tenLopUpdate" minlength="4" placeholder="Lớp mầm,chồi,..." required>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Độ tuổi</label>
                                                <select name="age" id="doTuoiUpdate" class="form-control">
                                                    <option value="2">Từ 2 - 3 tuổi</option>
                                                    <option value="3">Từ 3 - 4 tuổi</option>
                                                    <option value="4">Từ 4 - 5 tuổi</option>
                                                    <option value="1">Dưới 2 tuổi</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-3" hidden>
                                                <label for="text" class="form-label">ID</label>
                                                <input type="text" class="form-control" name="idUpdate" minlength="4" placeholder="Lớp mầm,chồi,..." required>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Ngày khai giảng</label>
                                                <div class="mb-3">
                                                    <input id="khaiGiangUpdate" type="text" data-format="YYYY-MM-DD" class="form-control datepicker-here" data-language="en" aria-describedby="datepicker" placeholder="Khai giảng">
                                                    <small class="form-text text-muted">You can change the month, year, and date</small>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Ngày kết thúc</label>
                                                <div class="mb-3">
                                                    <input  type="text" id="ketThucUpdate" data-format="YYYY-MM-DD" class="form-control datepicker-here" data-language="en" aria-describedby="datepicker" placeholder="Kết thúc">
                                                    <small class="form-text text-muted">You can change the month, year, and date</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Giáo viên 1</label>
                                                <input id="giaovien1Update" type="text" class="form-control" name="giaoVien1" minlength="4" placeholder="Nguyễn Thị Hà" required>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="text" class="form-label">Giáo viên 2</label>
                                                <input id="giaovien2Update" type="text" class="form-control" name="giaoVien2" minlength="4" placeholder="Trần Thu Lệ" required>
                                            </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-4">
                                                <label for="hocPhi" class="form-label">Học phí</label>
                                                <input id="hocPhiUpdate" type="number" class="form-control" name="hocPhi" placeholder="" required>
                                            </div>
                                            <div class="mb-3 col-md-2">
                                                <label for="totalStudent" class="form-label">Sỉ số</label>
                                                <input id="totalStudentUpdate" type="number" class="form-control" name="totalStudent" placeholder="" required>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label for="status" class="form-label">Trạng thái</label>
                                                <select name="status" id="statusUpdate" class="form-control">
                                                    <option value="true">Hoạt động</option>
                                                    <option value="false">Ngừng hoạt động</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-undo"></i> Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">Class list</div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Mã lớp</th>
                                                        <th>Tên lớp</th>
                                                        <th>Độ tuổi</th>
                                                        <th>Ngày khai giảng</th>
                                                        <th>Học phí</th>
                                                        <th>Sỉ số</th>
                                                        <th>Giáo viên 1</th>
                                                        <th>Giáo viên 2</th>
                                                        <th>Trạng thái</th>
                                                        <th hidden>Ngày kết thúc</th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">123</th>
                                                        <td>Lớp Mầm</td>
                                                        <td>2 - 3</td>
                                                        <td>2022-03-29</td>
                                                        <td>4500000</td>
                                                        <td>15</td>
                                                        <td>Nguyễn Thị Ngọc</td>
                                                        <td>Trần Thị Lệ</td>
                                                        <td>Đang hoạt động</td>
                                                        <td hidden>2023-03-29</td>
                                                        <th>
                                                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                                <button type="button" class="btn btn-primary updateClassBtn">Fix</button>
                                                                <button type="button" class="btn btn-danger deleteClassBtn">Del</button>
                                                            </div>
                                                        </th>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" colspan="10" style="text-align: right;">
                                                            <button type="button" id="addClassBtn" class="btn btn-primary">Thêm lớp học</button>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/airdatepicker/js/datepicker.min.js"></script>
    <script src="../static/assets/vendor/airdatepicker/js/i18n/datepicker.en.js"></script>
    <script src="../static/assets/vendor/mdtimepicker/mdtimepicker.min.js"></script>
    <script src="../static/assets/js/script.js"></script>
    <script type="text/javascript"></script>
    <script>
        mdtimepicker('.timepicker', {
            format: 'h:mm tt',
            hourPadding: 'true'
        });
    </script>
</body>
<script>
    $(document).ready(function() {
        $("#insertForm").hide();
        $("#updateForm").hide();
        $("#addClassBtn").click(function() {
            $("#updateForm").hide();
            $("#insertForm").toggle(500);
            $("#insertDateForm").val('2022-12-12');
        });

        $(".updateClassBtn").click(function() {
            $("#insertForm").hide();
            $("#updateForm").toggle(500);
            $("#idUpdate").val($(this).parent().parent().parent().first().children().first().text());
            $("#tenLopUpdate").val($(this).parent().parent().parent().first().children().first().next().text());
            $("#doTuoiUpdate").val(parseInt($(this).parent().parent().parent().first().children().first().next().next().text()));
            $("#khaiGiangUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().text());
            $("#hocPhiUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().next().text());
            $("#totalStudentUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().next().next().text());
               $("#giaovien1Update").val($(this).parent().parent().parent().first().children().first().next().next().next().next().next().next().text());
               $("#giaovien2Update").val($(this).parent().parent().parent().first().children().first().next().next().next().next().next().next().next().text());
               $("#statusUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().next().next().next().next().next().text());
               $("#ketThucUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().next().next().next().next().next().next().text());
        });

        // Delete button
        $(".deleteClassBtn").click(function() {
            //get infor of Class to delete here
            if (confirm("Do you want to delete Class id: " + $(this).parent().parent().parent().first().children().first().text())) {
                $(this).parent().parent().parent().remove();
            }

        });

        $('#insertDateForm1').datepicker({
            dateFormat: 'yyyy-mm-dd'
        }).val();
        $('#insertDateForm2').datepicker({
            dateFormat: 'yyyy-mm-dd'
        }).val();
        $('#updateDateForm').datepicker({
            dateFormat: 'yyyy-mm-dd'
        }).val();
    });
    // $(function() {
    //     // Bootstrap DateTimePicker v3
    //     $('#datetimepicker').datetimepicker({
    //         pickTime: false
    //     });
    //     // Bootstrap DateTimePicker v4
    //     $('#datetimepicker').datetimepicker({
    //         format: 'DD/MM/YYYY'
    //     });
    // });
</script>

</html>