<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | Bootstrap Simple Admin Template</title>
    <link href="../static/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/master.css" rel="stylesheet">
    <link href="../static/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="../static/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="index.html"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                <li>
                    <a href="student.html"><i class="fas fa-user-friends"></i> Student</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> Class</a>
                </li>
                <li>
                    <a href="POstudent.html"><i class="fas fa-user-clock"></i> PO Student</a>
                </li>
                <li>
                    <a href="giaoVien.html"><i class="fas fa-user-tie"></i> Teacher</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-circle"></i> Account</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>John Doe</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Overview</div>
                            <h2 class="page-title">Blog</h2>
                            <h2> ------ </h2>
                        </div>
                    </div>
                    <div class="row">
                        <h1 style="font-weight:bold">Title blog</h1>
                        <h3>This is the blog description</h3>

                        <img style="height: 300px; width:auto;display: block; margin: auto;" src="https://image.vietnamlawmagazine.vn/uploadvietnamlaw/2019/4/26/trang-42jpg164324432.jpg" alt="thumbnailImg">
                        <p style="margin: 30px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, voluptatum voluptate. Illo soluta, sint ab deleniti a tempora quis mollitia. Laboriosam, eos ipsam ratione debitis ad perspiciatis atque numquam qui?
                        Tenetur quidem nemo molestias ut pariatur magni voluptate, sed quos nihil aliquam animi, delectus provident odio est quae ab, nesciunt modi? Eligendi laborum pariatur reprehenderit odit nostrum itaque amet porro.
                        Cum, molestiae similique consectetur cupiditate ducimus eum assumenda, fuga delectus aspernatur in tempora sapiente. Enim, officiis molestias! Velit, id. Cupiditate, exercitationem consequuntur quidem error eum delectus unde quam natus veritatis!
                        Mollitia alias veritatis molestias placeat quidem enim qui modi deleniti unde facilis molestiae aspernatur doloribus debitis, nulla dolor inventore deserunt maiores omnis. Sunt reiciendis expedita sequi laborum quas beatae praesentium!
                        Nam, hic necessitatibus? Accusantium beatae perferendis rem at ratione eos esse inventore, consequatur quod sapiente cum accusamus ea laudantium neque voluptas, omnis optio cumque culpa! Aut, expedita cupiditate. Sint, libero.</p>
                        <h4 style="text-align: right;">Author</h4>
                        <h5 style="text-align: right;">22/09/2022</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/chartsjs/Chart.min.js"></script>
    <script src="../static/assets/js/dashboard-charts.js"></script>
    <script src="../static/assets/js/script.js"></script>
</body>

</html>